<navbar></navbar>
<div class="container">

    <div id="banner" class="text-center">
        <h2>Trade your music</h2>
        <h4></h4>
    </div>

    <div class="tabs row">
        <div class="col-sm-12 text-center">
            <button class="btn" ng-class="{active: albumsCtrl.tab === 'all'}" ng-click="albumsCtrl.selectTab('all')">List</button>
            <button class="btn" ng-class="{active: albumsCtrl.tab === 'requested'}" ng-click="albumsCtrl.selectTab('requested')">Requested</button>
            <button class="btn" ng-class="{active: albumsCtrl.tab === 'requests'}" ng-click="albumsCtrl.selectTab('requests')">Requests</button>
        </div>
    </div>

    <div class="row" ng-show="albumsCtrl.tab === 'all'">
        <div class="col-xs-12 col-sm-6 col-md-3 album" ng-repeat="album in albumsCtrl.albums">
            <div>
                <img ng-src="{{ album.image }}" alt="{{ album.name }}" class="img-responsive">
            </div>
            <div class="caption">
                <h4>{{ album.name }}</h4>
                <h5>{{ album.artist }}</h5>
                <div class="actions">
                    <button class="btn btn-outline" ng-hide="albumsCtrl.currentUser._id === album.user" ng-click="albumsCtrl.trade(album)">Trade</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="albumsCtrl.tab === 'requested'">
        <!--<div class="col-sm-12 text-center">-->
            <!--<h4>Requested by you:</h4>-->
        <!--</div>-->

        <div class="col-xs-12 col-sm-6 col-md-3 album" ng-repeat="trade in albumsCtrl.requestedTrades">
            <div>
                <img ng-src="{{ trade.album.image }}" alt="{{ trade.album.name }}" class="img-responsive">
            </div>
            <div class="caption">
                <h4>{{ trade.album.name }}</h4>
                <h5>{{ trade.album.artist }}</h5>
                <div class="actions">
                    <button type="button" class="btn btn-success" ng-show="trade.accepted">Accepted</button>
                    <button class="btn btn-outline" ng-click="albumsCtrl.cancelTrade(trade)">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="albumsCtrl.tab === 'requests'">
        <!--<div class="col-sm-12 text-center">-->
            <!--<h4>Requested to you:</h4>-->
        <!--</div>-->

        <div class="col-xs-12 col-sm-6 col-md-3 album" ng-repeat="album in albumsCtrl.requestedAlbums">
            <div>
                <img ng-src="{{ album.image }}" alt="{{ album.name }}" class="img-responsive">
            </div>
            <div class="caption">
                <h4>{{ album.name }}</h4>
                <h5>{{ album.artist }}</h5>
                <div class="actions">
                    <button type="button" class="btn btn-success" ng-show="album.trade.accepted">Accepted</button>
                    <button class="btn btn-outline" ng-click="albumsCtrl.acceptTrade(album)" ng-hide="album.trade.accepted">Accept</button>
                    <button class="btn btn-outline" ng-click="albumsCtrl.cancelRequestedAlbum(album)">Decline</button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>