<navbar></navbar>
<div class="container">
    <form class="form" name="newAlbumForm" ng-submit="addAlbumCtrl.create()" novalidate>
        <div class="form-group">
            <label>Artist name</label>
            <input type="text" name="artist" placeholder="Artist name" class="form-control" ng-model="addAlbumCtrl.newAlbum.artist" required>
        </div>

        <div class="form-group">
            <label>Album name</label>
            <input type="text" name="name" placeholder="Album name" class="form-control" ng-model="addAlbumCtrl.newAlbum.name" ng-change="addAlbumCtrl.searchCover(addAlbumCtrl.newAlbum.artist, addAlbumCtrl.newAlbum.name)" required>
        </div>

        <div ng-show="addAlbumCtrl.loading">Loading...</div>

        <div class="form-group" ng-repeat="cover in addAlbumCtrl.covers">
            <input type="radio" name="image" ng-model="addAlbumCtrl.newAlbum.image" ng-value="cover.artworkUrl100" required>
            <img ng-src="{{ cover.artworkUrl100 }}" alt="cover">
        </div>

        <button type="submit" ng-disabled="!newAlbumForm.$valid || addAlbumCtrl.loading" class="btn btn-primary">Create</button>
        {{ newAlbumForm.$valid }}
        {{ addAlbumCtrl.loading }}
    </form>
</div>
<footer></footer>